[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-paru"]
	path = dotbot-paru
	url = https://github.com/michaelray27/dotbot-paru.git
[submodule "dotbot-git"]
	path = dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:Luceurre/nvim-dotfiles.git
